* {
  font-family: 'Roboto', Arial, sans-serif;
}

$selected-date-color: #4680c2;
$hover-date-color: #91bff2;
$current-date-color: #edaf51;

.schedule-calendar-wrapper {
  position: sticky;
  margin-top: -1px;
  top: 55px;
  z-index: 100000;

  background-color: white;

  .Separator:first-child {
    padding-top: 5px;
  }
}

.View--ios {
  .schedule-calendar-wrapper {
    top: 51px;
  }
}

.schedule-calendar {
  width: 100%;
  border: none;

  display: flex;
  flex-flow: column-reverse nowrap;
}

body[scheme="space_gray"], body[scheme=client_dark] {
  .schedule-calendar-wrapper {
    background-color: #19191a;
  }
  .schedule-calendar, .react-calendar__tile, .react-calendar__navigation__arrow, .react-calendar__navigation__label {
    color: white;
  }
  .react-calendar__month-view__days__day--weekend {
    color: #b62d2d;
  }
  .react-calendar__month-view__days__day--neighboringMonth {
    color: #757575;
  }
}

.react-calendar__navigation {
  margin: 0;
}

$tile-size: 15px;

.react-calendar__tile {
  abbr {
    display: inline-block;
    width: $tile-size;
    height: $tile-size;
    border-radius: 1.5em;
  }
}

.react-calendar__tile,
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: rgba(0, 0, 0, 0);
}

@mixin react-calendar__tile--selected($color) {
  abbr {
    color: #fff;
    background-color: $color;
    box-shadow: 0px 0px 0px 0.5em $color;
  }
}

.react-calendar__tile--now,
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  @include react-calendar__tile--selected($current-date-color);
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  @include react-calendar__tile--selected($hover-date-color);
}

.react-calendar__tile--active,
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  @include react-calendar__tile--selected($selected-date-color);
}

.react-calendar__month-view__weekdays__weekday {
  abbr {
    text-decoration: none;
  }
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: rgba(0, 0, 0, 0);
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none;
}

.react-calendar__navigation__label {
  pointer-events: none;
}

.react-calendar__navigation__label__labelText {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
  color: #818c99;
}

$active-bullet-color: $hover-date-color;
$inactive-bullet-color: #d3d3d3;

.lesson-card {
  padding-bottom: 5px;

  font-weight: 500;
  color: #44494e;
}

.lesson-card-content {
  overflow: hidden;
}

$vkui-text-secondary: #818c99;

.lesson-card-header {
  .Header {
    width: 100%;
  }
  .Header__aside {
    color: $vkui-text-secondary;
    font-weight: 600;
  }
  .Header__content {
    white-space: pre-wrap;
  }
}

.Card--ios {
  .lesson-card-header {
    padding: 0 4px;
  }
}

.lesson-card-header {
  margin-bottom: -8px;
}

.lesson-card-body {
  p {
    font-size: 14px;
    margin: 3px 0;
  }

  p:first-child {
    margin-top: 10px;
  }

  p:last-child {
    margin-bottom: 10px;
  }
}

.lesson-card-multiple {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 25px;
}

.lesson-card-bullet {
  display: inline-block;
  margin: 0 6px;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 3px $inactive-bullet-color;
  background-color: $inactive-bullet-color;
}

.lesson-card-bullet--active {
  box-shadow: 0px 0px 0px 3px $active-bullet-color;
  background-color: $active-bullet-color;
}

.lesson-card-bullet:last-child {
  margin-right: 0;
}

.CardScroll__in::before,
.CardScroll__in::after {
  display: none;
}

.Icon {
  display: inline;
}

.Group {
  margin-top: 0;
  margin-bottom: 0;
}

$tabbar-height: 48px;

.Epic {
  height: 100vh;
}
